<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <% Object.keys(messages).forEach(function(key) { %>
      <h3><%= messages[key].user %></h3>
      <div class="textContainer">
        <p><%= messages[key].text %></p>
        <p><%= messages[key].added %></p>
      </div>
      
    <% }); %>
      <br>
    <a href="/new">Sent a message</a>
  </body>
</html>
